<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- meta使用viewport以确保页面可自由缩放 -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 引入 jQuery Mobile 样式 -->
<link rel="stylesheet" type="text/css" href="../css/jquery.mobile-1.4.5.min.css">
<link rel="stylesheet" type="text/css" href="../css/login.css">
<!-- 引入 jQuery 库 -->
 <script type="text/javascript" src="../js/jquery.min.js"></script>
<!-- 引入 jQuery Mobile 库 -->
 <script type="text/javascript" src="../js/jquery.mobile-1.4.5.min.js"></script>
 <!-- 引入项目公共逻辑库 -->
 <script type="text/javascript" src="../js/common.js"></script>
</head>
<body>

<div data-role="page">
  <div data-role="header" data-position="fixed">
    <a href="javascript:history.back(-1)" class="ui-btn ui-corner-all ui-icon-arrow-l ui-btn-icon-notext">左箭头图标</a>
    <h1>发布内容</h1>
  </div>

  <div data-role="main" class="ui-content">
  
	<div class="ui-field-contain">
        <label>标题</label>
       <input type="text" name="messageTitle" id="messageTitle">
      </div>
  
   <div class="ui-field-contain">
        <label for="messageType">选择类别</label>
        <select name="messageType" id="messageType">
         <option value="0">请选择</option>
        </select>
     </div>

 	<div class="ui-field-contain">
        <label>内容:</label>
        <textarea name="messageContent" id="messageContent"></textarea>
      </div>

	<div class="ui-field-contain">
		 <label>上传图片</label>
		 <input type="file"    multiple="multiple" accept="image/*" name="imageUrl" id="imageUrl"  />
	</div>

	<div class="ui-field-contain">
		<label>上传视频</label>
		<input type="file"     name="videoUrl" id="videoUrl"  />
	</div>

	<div class="ui-field-contain">
		<label>上传语音</label>
		<input type="file"     name="voiceUrl" id="voiceUrl"  />
	</div>


   <!-- 使按钮居中显示  -->
    <table style="margin: 0 auto">
    <tr><td align="center">
     <input type="submit" data-inline="true" value="确定" onclick="addMessage()" >
    <!-- <a onclick="goWebpage('message.html')"  style="background-color: #32CD32;color: #FFFFFF"  class="ui-btn ui-corner-all ui-shadow">确定</a> -->
	  </td> <td align="center">
     <input type="reset" data-inline="true" value="取消" onclick="goWebpage('message.html')">
      <!--<a onclick="goWebpage('message.html')"  style="background-color: #FF0000;color: #FFFFFF"  class="ui-btn   ui-corner-all ui-shadow">取消</a> -->
	   </td></tr>
     </table>
 

  </div>

  
 
</div> 

 <script type="text/javascript">
 
 //获取页面跳转时传递的参数
	var messageId= getUrlParams("messageId");	//留言编号
    console.log("messageId="+messageId);
 
 $(function(){
if(!debug){
 
 //获取选项列表数
  $.ajax({
        type: "GET",
        url:  serverUrl+"message/selectTypeName",
        contentType: "application/json",
        success: function (data) {
            console.log("call message/selectTypeName");
            console.log(data);
            if(data.status==200){	//调用成功
			console.log("接口数据长度："+data.data.length);
                 var html = "";
				 //html += '<option value="-1">全部</option>';
   			 for(var i = 0,len = data.data.length; i < len; i++){
				console.log(data.data[i]);
			 	var item = data.data[i];
			  	html += '<option value="'+item.typeId+'">'+item.typeName+'</option>';
			 }
				 document.getElementById("messageType").innerHTML = html; 
			 
            }else{
                openPopup("获取数据失败，请重试！");
            }
        },
        error: function (e) {
            console.log(e);
            openPopup("获取数据失败，请重试！");
        }
    });

 }else{
 //测试数据
 }

 
});

  
 
 //新增信息
 function addMessage(){
	var messageTitle = $("#messageTitle").val();
	var typeId = $("#messageType").val();
	var messageContent = $("#messageContent").val();
	 
	 
	// 构建form数据
	var formFile = new FormData();
    //formFile.append("action", "UploadPath");
	formFile.append("messageTitle", messageTitle);
	formFile.append("typeId", typeId);
	formFile.append("messageContent", messageContent);
    //把文件放入form对象中  
    formFile.append("file", file); 
	if(messageId != null && messageId != undefined && messageId != ''){
	formFile.append("messageId", messageId); 	
	}

 	// ajax提交
            $.ajax({
            	url: serverUrl+"message/insertMessage",
               	data: formFile,
               	type: "POST",
               	dataType: "json",
               	cache: false,			//上传文件无需缓存
               	processData: false,		//用于对data参数进行序列化处理 这里必须false
               	contentType: false, 	//必须	(multipart/form-data)
               	success: function(result){
               		alert('上传成功');
               	},
               	error: function(result){
               		alert('上传失败');
               	}

			});

}
 
 
 </script>
</body>
</html>
