<!DOCTYPE html>
<html lang = "zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="Access-Control-Allow-Origin" content="*">
<!-- meta使用viewport以确保页面可自由缩放 -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 引入 jQuery Mobile 样式 -->
<link rel="stylesheet" type="text/css" href="../css/jquery.mobile-1.4.5.min.css">
<!-- 引入 jQuery 库 -->
 <script type="text/javascript" src="../js/jquery.min.js"></script>
<!-- 引入 jQuery Mobile 库 -->
 <script type="text/javascript" src="../js/jquery.mobile-1.4.5.min.js"></script>
 <!-- 引入项目公共逻辑库 -->
 <script type="text/javascript" src="../js/common.js"></script>
</head>
<body>

<div data-role="page">
  <div data-role="header" data-position="fixed">
   <a href="javascript:history.back(-1)" class="ui-btn ui-corner-all ui-icon-arrow-l ui-btn-icon-notext">左箭头图标</a>
    <h1>新增类别</h1>
  </div>

  <div data-role="main" class="ui-content">
   
  
 <input id="typeName" type="text" name="typeName" placeholder="暂无">
 
 <table style="margin: 0 auto">
    <tr><td align="center">
      <input type="submit" onclick="addData()" data-inline="true" value="新增"></div>
	  <input type="reset" onclick="goWebpage('typeList.html')" data-inline="true" value="取消">
      </td></tr>
     </table>
     
  </div>

  
   
</div> 

 <script type="text/javascript">
 
 	
	
//删除数据 
function addData(){
	
	var typeName = $("#typeName").val();
	
	 $.ajax({
        type: "POST",
        url:  serverUrl+"message/insertTypeName",
        contentType: "application/json",
		data : JSON.stringify({
				"typeName": typeName 
			}),
        success: function (data) {
			console.log("call message/insertTypeName");
			console.log(data);
	 		if(data.status==200){	//调用成功
			 openPopup("新增成功！");
			 window.location.href='typeList.html';
			}else{
				openPopup(data.message);
			}
        },
        error: function (e) {
			console.log(e);
            openPopup("调用失败，请重试！");
        }
    });	 
		
}

//修改数据 
function updateData(){
		
	 
	var typeName = $("#typeName").val(); 
		
	var jsonObject = '{';
	jsonObject+='"typeId":'+typeId;
	jsonObject+=',"typeName":"'+typeName+'"';
	
	 
	jsonObject+='}'
	console.log(jsonObject);
		
	$.ajax({
        type: "POST",
        url:  serverUrl+"message/updateTypeName",
        contentType: "application/json",
		data : jsonObject,
        success: function (data) {
			console.log("call user/updateTypeName");
			console.log(data);
	 		if(data.status==200){	//调用成功
			 openPopup("修改成功！");
			 //window.location.href='typeList.html';
			}else{
				openPopup(data.message);
			}
        },
        error: function (e) {
			console.log(e);
            openPopup("接口调用失败，请重试！");
        }
    });	 
		
}
	 
   </script>
  
 
</body>
</html>
