<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <!-- 手机浏览器调试代码
    <script src="http://192.168.191.4:7521/target/target-script-min.js#anonymous"></script>
    -->

<!-- meta使用viewport以确保页面可自由缩放 -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 引入 jQuery Mobile 样式 -->
<link rel="stylesheet" type="text/css" href="../css/jquery.mobile-1.4.5.min.css">
<link rel="stylesheet" type="text/css" href="../css/login.css">
<!-- 引入 jQuery 库 -->
 <script type="text/javascript" src="../js/jquery.min.js"></script>
<!-- 引入 jQuery Mobile 库 -->
 <script type="text/javascript" src="../js/jquery.mobile-1.4.5.min.js"></script>
 <!-- 引入项目公共逻辑库 -->
 <script type="text/javascript" src="../js/common.js"></script>
    <link rel="stylesheet" href="../css/custom.css">
</head>
<body>

<div data-role="page">
  <div data-role="header" data-position="fixed">
    <a href="javascript:history.back(-1)" class="ui-btn ui-corner-all ui-icon-arrow-l ui-btn-icon-notext">左箭头图标</a>
    <h1 id="title-h">发布内容</h1>
  </div>

  <div data-role="main" class="ui-content">
  
	<div id="messageTitleDiv" class="ui-field-contain">
        <label>标题</label>
       <input type="text" name="messageTitle" id="messageTitle">
      </div>
  
   <div id="messageTypeDiv" class="ui-field-contain">
        <label for="messageType">选择类别</label>
        <select name="messageType" id="messageType">
         <option value="0">请选择</option>
        </select>
     </div>

 	<div class="ui-field-contain">
        <label>内容:</label>
        <textarea name="messageContent" id="messageContent"></textarea>
      </div>

	<div class="ui-field-contain">
		 <label>上传图片</label>
		 <input type="file" multiple accept="image/*" id="imageFile"/>
	</div>

	<div class="ui-field-contain">
		<label>上传视频</label>
		<input type="file"     name="videoUrl" id="videoFile"  />
	</div>

	<div class="ui-field-contain">
		<label>上传语音</label>
		<input type="file"     name="voiceUrl" id="voiceFile"  />
	</div>


   <!-- 使按钮居中显示  -->
    <table style="margin: 0 auto">
    <tr><td align="center">
     <input type="submit" data-inline="true" value="确定" onclick="addMessage()" >
    <!-- <a onclick="goWebpage('message.html')"  style="background-color: #32CD32;color: #FFFFFF"  class="ui-btn ui-corner-all ui-shadow">确定</a> -->
	  </td> <td align="center">
     <input type="reset" data-inline="true" value="取消" onclick="goWebpage('message.html')">
      <!--<a onclick="goWebpage('message.html')"  style="background-color: #FF0000;color: #FFFFFF"  class="ui-btn   ui-corner-all ui-shadow">取消</a> -->
	   </td></tr>
     </table>
 

  </div>

  
  <div data-role="footer" data-position="fixed">
   <div data-role="navbar">
      <ul>
        <li><a onclick="goWebpage('message.html')" data-icon="home" class="foot-btn"></a></li>
        <li><a href="#"  data-icon="comment" class="ui-btn-active ui-state-persist  foot-btn"></a></li>
      </ul>
    </div>
  </div>
</div> 

 <script type="text/javascript">
 
 //获取页面跳转时传递的参数
	var messageId= getUrlParams("messageId");	//留言编号
    console.log("messageId="+messageId);
	var returnUrl ='';
	if(messageId != null && messageId != undefined && messageId != ''){
	$("#messageTitleDiv").hide();//隐藏
	$("#messageTypeDiv").hide();//隐藏	
	$("#title-h").text("回复内容");
	returnUrl = '../messageDetail.html?messageId='+messageId;
	}else{
		$("#messageTitle").show();//显示
		$("#messageTypeDiv").show();
		$("#title-h").text("发布内容");
		returnUrl = 'message.html';
	}
 
 $(function(){
if(!debug){
 
  //查找用户权限
   $.ajax({
        type: "GET",
        url:  serverUrl+"user/getPermission?userName="+getUsername(),
        contentType: "application/json",
        success: function (data) {
			console.log("call user/getPermission");
			console.log(data);
	 		if(data.status==200){	//调用成功
			console.log("getPermission:");
			console.log(data.data);
			permission = data.data;
			// if(permission!=0){	//用户
			// 	$("#messageTitleDiv").hide();//隐藏
			// 	$("#messageTypeDiv").hide();//隐藏
			// }else{
			// 	$("#messageTitle").show();//显示
			// 	$("#messageTypeDiv").show();
			// }
			 
			}else{
				openPopup("权限获取失败，请重新登录！");
                window.location.href='login.html';
			}
        },
        error: function (e) {
			console.log(e);
            openPopup("权限获取失败，请重新登录！");
            window.location.href='login.html';
        }
    });	 
	
 //获取选项列表数
  $.ajax({
        type: "GET",
        url:  serverUrl+"message/selectTypeName",
        contentType: "application/json",
        success: function (data) {
            console.log("call message/selectTypeName");
            console.log(data);
            if(data.status==200){	//调用成功
			console.log("接口数据长度："+data.data.length);
                 var html = "";
				 //html += '<option value="-1">全部</option>';
   			 for(var i = 0,len = data.data.length; i < len; i++){
				console.log(data.data[i]);
			 	var item = data.data[i];
			  	html += '<option value="'+item.typeId+'">'+item.typeName+'</option>';
			 }
				 document.getElementById("messageType").innerHTML = html; 
			 
            }else{
                openPopup("获取数据失败，请重试！");
            }
        },
        error: function (e) {
            console.log(e);
            openPopup("获取数据失败，请重试！");
        }
    });

 }else{
 //测试数据
 }

 
});

  
 
 //新增信息
 function addMessage(){

    var invalidContent = true;  //无效内容
	var userId = getUserId();
	var messageTitle = $("#messageTitle").val();
	var typeId = $("#messageType").val();
	var messageContent = $("#messageContent").val();
	console.log($("#imageFile")); 
	var imageFile = document.getElementById("imageFile").files;	//此处不能用jquery获取数据
	var videoFile = document.getElementById("videoFile").files;
	var voiceFile = document.getElementById("voiceFile").files;
	 
	 console.log("values:");
	console.log("messageTitle="+messageTitle);
     console.log("messageContent="+messageContent);

     if(messageContent != null && messageContent != undefined && messageContent != ''){
         invalidContent = false;    //有效内容
     }

     console.log("开始生成表单数据");
	// 构建form数据
	var formFile = new FormData();
	formFile.append("userId",userId);
    //formFile.append("action", "UploadPath");
	formFile.append("messageTitle", messageTitle);
	formFile.append("typeId", typeId);
	formFile.append("messageContent", messageContent);
    //把文件放入form对象中  
   // formFile.append("imageUrl", imageUrl); 
	//formFile.append("videoUrl", videoUrl);
	//formFile.append("voiceUrl", voiceUrl);
	if(messageId != null && messageId != undefined && messageId != ''){
	formFile.append("messageId", messageId); 	
	}             
	
	//console.log(imageFile);
     console.log("解析图片数据");
  var size = 0;
for(var i=0; i< imageFile.length; i++){
    invalidContent = false;
console.log(imageFile[i].name);
formFile.append('imageFile',imageFile[i]);    //将文件转成二进制形式
 size += imageFile[i].size;

}

     console.log("解析视频数据");
for(var i=0; i< videoFile.length; i++){
    invalidContent = false;
console.log(videoFile[i].name);
formFile.append('videoFile',videoFile[i]);    //将文件转成二进制形式
size += videoFile[i].size;

}

     console.log("解析声音数据");
for(var i=0; i< voiceFile.length; i++){
    invalidContent = false;
console.log(voiceFile[i].name);
formFile.append('voiceFile',voiceFile[i]);    //将文件转成二进制形式
size += voiceFile[i].size;
}

	//alert(formFile.get("messageTitle"));

//      console.log("表单数据为：");
// 	var items = formFile.entries();
// 	var data = {};
//   while(item = items.next()){
//     if(item.done) break;
//    console.log(item);
// }

//	console.log("formFile:");
//	console.log(JSON.stringify(data));

     console.log("开始计算所传数据大小");
 console.log(size);
  var filesize = (size / 1024 /1024).toFixed(2);
 console.log(filesize);
 if(filesize>7){
     console.log("文件超过最大上限");
	 openPopup("文件过大，请选择较小文件！");
	}else  if(invalidContent){
     console.log("未填写有效内容");
     //sleep(1000);
     openPopup("请填写内容！");
 }else{
     openPopup('数据提交中......');
     console.log("开始提交数据");
 	// ajax提交
            $.ajax({
            	url: serverUrl+"message/insertMessage",
               	data: formFile,
               	type: "POST",
               	dataType: "json",
               	async:false,			//上传文件无需缓存
               	processData: false,		//用于对data参数进行序列化处理 这里必须false
               	contentType: false, 	//必须	(multipart/form-data)
               	success: function(result){
               		console.log("call message/insertMessage");
					console.log(result);
	 				//if(data.status==200){	//调用成功
					// openPopup("新增成功！");
					//closePopup();	//关闭对话框
                    //sleep(100);
					 window.location.href=returnUrl;
					 //alert('请再次点击确认！');
                    //sleep(1000);
                    //window.location.href=returnUrl;
					//}else{
					//openPopup(data.message);
					//}
               	},
               	error: function(result){
                    closePopup();	//关闭对话框
					console.log(result);
               		alert('接口调用错误，请重试！'+result);
               	}

			});
			}

}
 
 
  
 </script>
</body>
</html>
