<!DOCTYPE html>
<html lang = "zh-CN">
 
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<!-- meta使用viewport以确保页面可自由缩放 -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 引入 jQuery Mobile 样式 -->
<link rel="stylesheet" type="text/css" href="../css/jquery.mobile-1.4.5.min.css">
<link rel="stylesheet" type="text/css" href="../css/login.css">
<!-- 引入 jQuery 库 -->
 <script type="text/javascript" src="../js/jquery.min.js"></script>
<!-- 引入 jQuery Mobile 库 -->
 <script type="text/javascript" src="../js/jquery.mobile-1.4.5.min.js"></script>
 <!-- 引入项目公共逻辑库 -->
 <script type="text/javascript" src="../js/common.js"></script>
<link rel="stylesheet" href="../css/custom.css">
</head>
<body>
<div data-role="page">

    <!--<div data-role="header" data-position="fixed">-->
    <!--<h1>登录</h1>-->
    <!--</div>-->
    <img src="../images/liuyanban_bg.png" style="width: 100%;height: auto;position: absolute;left: 0;right: 0;top:0;margin: auto;opacity: 0.2">
    
    <div data-role="content" class="login-wrap ui-content login-bg" role="main">
   
        <div class="login-input-box">
             <img src="../images/liuyanban.png" style="width: auto;height: 8%;position: absolute;left: 0;right: 0;top:3%;margin: auto">
            <div class="line1">
                <label>
                    <img src="../images/用户.svg" class="login-icon">
                </label>
                <input id="username" type="text" class="user" value="用户名" onfocus="if(value=='用户名') {value=''}"
                       onblur="if (value=='') {value='用户名'}" data-role="none">
            </div>
            <div class="line2">
                <label>
                    <img src="../images/密码.svg" class="login-icon">
                </label>
                <input id="password" type="text" class="lock" value="密码" onfocus="if(value=='密码') {value=''}"
                       onblur="if (value=='') {value='密码'}" data-role="none">
            </div>
            <div class="chose">
                <a onclick="goWebpage('regist.html')" data-ajax="false" class="register" data-role="none"
                   data-transition="slide">新用户注册</a>
                <!-- <a href="forget.html" data-ajax="false" class="forgive" data-role="none">忘记密码</a> -->
                <a class="login" onclick="login()" data-ajax="false" data-role="none" data-transition="slide">用 户 登
                    录</a>
            </div>
        </div>
    <div data-role="popup" id="myPopup" class="ui-content">
      <p>这是一个简单的弹窗。</p>
    </div>
 </div>
 </div>
 

  <script type="text/javascript">
  //登录
function login(){
	if(!debug){
var username = $("#username").val(); 
var password = $("#password").val(); 
console.log("username="+username+";password="+password);	
if(username == null || username == undefined || username == ''|| username == '用户名'){
	openPopup("用户名不能为空！");
}else if(password == null || password == undefined || password == ''|| password == '密码'){
	openPopup("密码不能为空！");
}else{
	
	
	 $.ajax({
        type: "POST",
        url:  serverUrl+"user/login",
        contentType: "application/json",
		data : JSON.stringify({
				"userName": username,
				"password": password
			}),
        success: function (data) {
			console.log("call user/login");
			console.log("userName: "+username);
			console.log("password: "+password);
			console.log(data);
	 		if(data.status==200){	//调用成功
			setCookie(isLoginFlag,1);	//已登录
			setCookie(usernameFlag,username);	//用户名
			setCookie(userIdFlag,data.data.userId);	//用户编号
			window.location.href='message.html';
			}else{
				openPopup("登录失败，请重新登录！");
			}
        },
        error: function (e) {
			console.log(e);
            openPopup("登录失败，请重新登录！");
        }
    });	 

}
	}else{
window.location.href='message.html';
	}
}
 
  </script>
</body>
</html>