<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<!-- meta使用viewport以确保页面可自由缩放 -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- 引入 jQuery Mobile 样式 -->
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<link rel="stylesheet" type="text/css" href="../css/login.css">

<!-- 引入 jQuery 库 -->
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- 引入 jQuery Mobile 库 -->
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

</head>
<body>
<div data-role="page"> 
 
 <div data-role="content" class="login-wrap ui-content" role="main">
        <div class="login-input-box">
            <div class="logo">
                <p>留言板</p>
            </div>
            <div class="line1">
                <img src="../images/user.png">
                <input type="text" class="user" value="用户名" onfocus="if(value=='用户名') {value=''}" onblur="if (value=='') {value='用户名'}" data-role="none">
            </div>
            <div class="line2">
                <img src="../images/lock.png">
                <input type="text" class="lock" value="密码" onfocus="if(value=='密码') {value=''}" onblur="if (value=='') {value='密码'}" data-role="none">
            </div>
            <div class="chose">
                <a href="register.html" data-ajax="false" class="register" data-role="none" data-transition="slide">注册</a>
               <!-- <a href="forget.html" data-ajax="false" class="forgive" data-role="none">忘记密码</a> -->
                <a class="login" href="index.html" data-ajax="false" data-role="none" data-transition="slide">登陆</a>
            </div>
        </div>
    
 </div>
 </div>
 
</body>
</html>