<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>留言板</title>
    <link rel="stylesheet" type="text/css" href="../../themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../../themes/icon.css">
    <script type="text/javascript" src="../../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/jquery.easyui.min.js"></script>

    <script type="text/javascript">
        var data = [{
            text: '分类一',
            iconCls: 'icon-more',
            state: 'open',
            children: [{
                text: '小项1'
            },{
                text: '小项2'
            },{
                text: '小项3'
            },{
                text: '小项4'
            },{
                text: '小项5'
            }]

        },{
            text: '分类二',
            iconCls: 'icon-more',
            state: 'open',
            children: [{
                text: '小项1'
            },{
                text: '小项2'
            },{
                text: '小项3'
            },{
                text: '小项4'
            },{
                text: '小项5'
            }]
        },{
            text: '分类三',
            iconCls: 'icon-more',
            state: 'open',
            children: [{
                text: '小项1'
            },{
                text: '小项2'
            },{
                text: '小项3'
            }]
        }];
        var storage=window.sessionStorage;
        //alert(storage.getItem('u_name'))
        var name=storage.getItem('u_name');
        //alert(name);
        //document.getElementById("denglu").value=name;
		//alert(1);
      // $("#deng_lu").text("asds");
		//alert(document.getElementById("deng_lu").text);
        //$("#denglu").html("修改");
        //var d=document.getElementById("deng_lu");
        //$("#denglu").text("content")
		//d.innerHTML="asdasd";
		//function()
		//{
	   // $('#deng_lu').html("span的文本");
       // document.getElementById('deng_lu').innerText="span的文本";
		//}
        $(function(){
            $('#deng_lu').text(name);
        });


    </script>
</head>
<body class="easyui-layout">
<div data-options="region:'north',border:false" style="height:60px;background:#B3DFDA;padding:10px;position:relative;">

    <h3 align="center">留言板</h3>
    <label style="width:120px;height:20px;position:absolute;bottom:0;right: 120px"  >登录用户：<label id="deng_lu" style="width:40px;height:20px;position:absolute;bottom:0;right: 0px" >111</label></label>
    <button style="width:100px;height:40px;position:absolute;bottom:0;left: 0;background-color:#e60027;color:#ffffff;font-weight:bold"  onclick="addMessage()" >发布问题</button>
    <button style="width:80px;height:20px;position:absolute;bottom:0;right: 0;background-color:#f6ab00;color:#ffffff;font-weight:bold"  onclick="logout()" >退出</button>

</div>
<div data-options="region:'west',split:true,title:'问题类型'" style="width:150px;padding:10px;">

    <div id="sm" class="easyui-sidemenu" data-options="data:data"></div>

</div>
<div data-options="region:'center',title:''">

    <table id="dg" class="easyui-datagrid" title="问题列表" style=""
           data-options="singleSelect:true" fit="true"  pagination="true" fitColumns="true"    data-options="
				rownumbers:true,
				singleSelect:true,
				autoRowHeight:false,
				pagination:true,
				pageSize:10">
        <thead>
        <tr>
            <!--<th data-options="field:'ck',checkbox:true"></th> -->
            <th data-options="field:'userName',width:80,align:'center'">用户</th>
            <th data-options="field:'content',width:500,align:'left',formatter:showContent">内容</th>
            <th data-options="field:'state',width:50,align:'center'">状态</th>
            <th data-options="field:'date',width:100,align:'center'">发表时间</th>
            <th data-options="field:'operation',width:100,align:'center',formatter:formatOper">操作</th>
        </tr>
        </thead>
    </table>

</div>


<script>
    function getData(){
        var rows = [];
        for(var i=1; i<=800; i++){
            var amount = Math.floor(Math.random()*1000);
            var price = Math.floor(Math.random()*1000);
            rows.push({
                id: 'id '+i,
                userName: '名称 '+i,
                title: '标题 '+i+"： 辽宁大学信息学院",
                content: '内容 '+i+'： 辽宁大学信息学院座落于古朴厚重的崇山校区，现有用房总建筑面积8000余平方米，使用面积所属总计约5417平方米。学院前身为计算机科学系，于1984年在数学系计算数学专业基础上成立，设有计算机应用技术和计算机软件2个专业；1986年，计算机科学系与物理系计算机应用研究所合并成立计算机科学与技术系；1999年10月18日，学校以计算机科学与技术系、电子科学与工程系为主体，整合工商管理学院信息管理与信息技术专业组建信息科学与技术学院，时任国家领导人王文元同志亲笔题写院名；2007年更名为辽宁大学信息学院。多年来，学院秉承“明德精学 笃行致强”校训精神，以学科建设为龙头，以提高教学质量为核心，以社会化需求为导向，以人才培养为宗旨，不断调整课程结构、完善教学体系，为社会输出大量专业技术人才，获得了很好的社会效应。',
                state: '未回复',
                date: '2016-01-01 11:11'
            });
        }
        return rows;
    }

    function pagerFilter(data){
        if (typeof data.length == 'number' && typeof data.splice == 'function'){	// is array
            data = {
                total: data.length,
                rows: data
            }
        }
        var dg = $(this);
        var opts = dg.datagrid('options');
        var pager = dg.datagrid('getPager');
        pager.pagination({
            onSelectPage:function(pageNum, pageSize){
                opts.pageNumber = pageNum;
                opts.pageSize = pageSize;
                pager.pagination('refresh',{
                    pageNumber:pageNum,
                    pageSize:pageSize
                });
                dg.datagrid('loadData',data);
            }
        });
        if (!data.originalRows){
            data.originalRows = (data.rows);
        }
        var start = (opts.pageNumber-1)*parseInt(opts.pageSize);
        var end = start + parseInt(opts.pageSize);
        data.rows = (data.originalRows.slice(start, end));
        return data;
    }

    $(function(){
        $('#dg').datagrid({loadFilter:pagerFilter}).datagrid('loadData', getData());
    });

    function addMessage() {
        window.location.href="message.html";
    }

    function logout() {
		//alert(1);
		//$('#deng_lu').text('span的文本');
        window.location.href="index.html";
    }

    function replayMessage(object) {
        window.location.href="message.html";
    }

    function showMessage(object) {
        window.location.href="message.html";
    }

    function deleteMessage(object) {
        window.location.href="message.html";
    }
</script>
<script type="text/javascript">
    function formatOper(val,row,index){
        return '<a href="javascript:void(0)" onclick="replayMessage(' + index
            + ')">回复</a>&nbsp;&nbsp;<a href="javascript:void(0)" onclick="showMessage(' + index
            + ')">查看</a>&nbsp;&nbsp;<a href="javascript:void(0)" onclick="deleteMessage(' + index+')">删除</a>&nbsp;&nbsp;';

    }

    function showContent(val,row,index){
        console.log("显示的内容:");
        console.log(val);
        console.log("该行获取的接口数据:");
        console.log(row);
        console.log("列号:");
        console.log(index);
        var showContent = '';
        showContent=showContent+'<br/>'+'&nbsp;&nbsp;'+row.title+'<br/>';
        if (row.content.length > 40) row.content = row.content.substr(0, 40) + "...";
        showContent=showContent+'&nbsp;&nbsp;'+row.content+'<br/>';
        //showContent=showContent+'<img src="../../images/test.jpg" height="200" width="200"  />'
        showContent=showContent+'<br/>';
        return showContent;
    }
</script>
</body>
</html>