<!DOCTYPE html>
<html lang = "zh-CN">
<head>
    <!-- 手机浏览器调试代码
   <script src="http://192.168.191.4:7521/target/target-script-min.js#anonymous"></script>
    -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="Access-Control-Allow-Origin" content="*">
<!-- meta使用viewport以确保页面可自由缩放 -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 引入 jQuery Mobile 样式 -->
<link rel="stylesheet" type="text/css" href="../css/jquery.mobile-1.4.5.min.css">
<link rel="stylesheet" type="text/css" href="../css/login.css">
<!-- 引入 jQuery 库 -->
 <script type="text/javascript" src="../js/jquery.min.js"></script>
<!-- 引入 jQuery Mobile 库 -->
 <script type="text/javascript" src="../js/jquery.mobile-1.4.5.min.js"></script>
 <!-- 引入项目公共逻辑库 -->
 <script type="text/javascript" src="../js/common.js"></script>
<link rel="stylesheet" href="../css/custom.css">
</head>
<body>

<div data-role="page">
  <div data-role="header" data-position="fixed" class="cus-head">
    <a  onclick="goWebpage('setting.html')" class="ui-btn ui-icon-gear ui-btn-icon-notext	 head-btn"></a>
    <h1>留言板</h1>
    <a onclick="goWebpage('select.html')" class="ui-btn ui-icon-search ui-btn-icon-notext head-btn"></a>
    
  </div>

  <div data-role="main" class="ui-content">
   <ul class="ui-listview ui-listview-inset ui-corner-all ui-shadow" id="listview" data-role="listview" data-inset="true">

       <!--
      <li data-role="list-divider">用户1  </li>   
      <li><a onclick="goWebpage('../messageDetail.html')" class="btn-bg">   
 <img src="../images/user_bg.png">
                    <div class="user-logo">
                        <img src="../images/name.png">
                        <span>用户名</span>
                        <span>状态:在线</span>
                    </div>
        <h2>辽宁大学</h2>
        <p>  辽宁大学信息学院</p>
                    <p data-state="houQin" class="ui-li-aside">后勤管理</p>
                    <p class="ui-li-aside noRead ">未回复</p>	
                </a>
            </li>

      <li data-role="list-divider">用户2  </li>   
      <li><a onclick="goWebpage('../messageDetail.html')">   
       <h2>辽宁大学</h2>
        <p><b>20190418</b></p>
        <p>辽宁大学信息学院座落于古朴厚重的崇山校区，现有用房总建筑面积8000余平方米，使用面积所属总计约5417平方米。学院前身为计算机科学系，于1984年在数学系计算数学专业基础上成立，设有计算机应用技术和计算机软件2个专业；1986年，计算机科学系与物理系计算机应用研究所合并成立计算机科学与技术系；1999年10月18日，学校以计算机科学与技术系、电子科学与工程系为主体，整合工商管理学院信息管理与信息技术专业组建信息科学与技术学院，时任国家领导人王文元同志亲笔题写院名；2007年更名为辽宁大学信息学院。多年来，学院秉承“明德精学 笃行致强”校训精神，以学科建设为龙头，以提高教学质量为核心，以社会化需求为导向，以人才培养为宗旨，不断调整课程结构、完善教学体系，为社会输出大量专业技术人才，获得了很好的社会效应。</p>
        <p class="ui-li-aside">已回复</p></a>
      </li>
      -->

    </ul>
  </div>

  <div data-role="footer" data-position="fixed">
   
   <!-- 使按钮居中显示  -->
    <table style="margin: 0 auto">
    <tr><td align="center">
      <a onclick="goPreviousPage()" class="ui-btn ui-icon-arrow-l ui-btn-icon-left ui-corner-all ui-shadow">上一页</a>
	  </td> <td align="center">
      <a onclick="goNextPage()" class="ui-btn ui-icon-arrow-r ui-btn-icon-right ui-corner-all ui-shadow">下一页</a>
	   </td></tr>
     </table>
    
   <div data-role="navbar"  id="addmessage-button">
      <ul>
        <li><a href="#" data-icon="home" class="ui-btn-active ui-state-persist  foot-btn"></a></li>
        <li><a onclick="goWebpage('addMessage.html')" data-icon="comment" class="foot-btn"></a></li>
      </ul>
    </div>
  </div>
</div> 


 <script type="text/javascript">
 var currentPage = 1;
 var pageSize = 10;
 var maxPage = 1;
 
  var permission = 0;	//权限
  
$(function(){
if(!debug){
 //查找用户权限
   $.ajax({
        type: "GET",
        url:  serverUrl+"user/getPermission?userName="+getUsername(),
        contentType: "application/json",
        success: function (data) {
			console.log("call user/getPermission");
			console.log(data);
	 		if(data.status==200){	//调用成功
			console.log("getPermission:");
			console.log(data.data);
			permission = data.data;
			if(data.data==0){	//用户
				$("#addmessage-button").show();//显示发布按钮
			}else{
				$("#addmessage-button").hide();//隐藏发布按钮
			}
			 //查询留言数据
  			 getMessageList(currentPage,pageSize);
			}else{
                console.log("权限获取失败，请重新登录！");
                window.location.href='login.html';
			}
        },
        error: function (e) {
			console.log(e);
            console.log("权限获取失败，请重新登录！");
            window.location.href='login.html';
        }
    });	 
 
}else{
//测试代码
}

});

//获取留言数据
function getMessageList(currentPage,pageSize){
	
	//获取页面跳转时传递的参数
	var userName= getUrlParams("userName");
    console.log("userName="+userName);
	var typeId= getUrlParams("typeId");
    console.log("typeId="+typeId);
	var exitReplay= getUrlParams("exitReplay");
    console.log("exitReplay="+exitReplay);
	
	if(permission==0){
		userName=  getUsername();
	}else if(permission>0){
		typeId=permission;
	}
	
	
var url = serverUrl+"message/queryMessageList";
if((currentPage != null&&currentPage != undefined&&currentPage != 0)||(pageSize != null&&pageSize != undefined&&pageSize != 0)||(userName != null&&userName != undefined&&userName != '')||(typeId != null&&typeId != undefined&&typeId != 0)||(isReplay != null&&isReplay != undefined&&isReplay != '')){
 url += "?1=1";
}
if(currentPage != null&&currentPage != undefined&&currentPage != 0){
 url += "&currentPage="+currentPage;
}
if(pageSize != null&&pageSize != undefined&&pageSize != 0){
 url += "&pageSize="+pageSize;
}
if(userName != null&&userName != undefined&&userName != ''){
 url += "&userName="+userName;
}
if(typeId != null&&typeId != undefined&&typeId != 0){
 url += "&typeId="+typeId;
}
if(exitReplay != null&&exitReplay != undefined&&exitReplay != ''){
 url += "&exitReplay="+exitReplay;
}
 console.log("url="+url);
 
	 $.ajax({
        type: "GET",
        url:  url,
        contentType: "application/json",
        success: function (data) {
            console.log("call message/queryMessageList");
            console.log(data);
            if(data.status==200){	//调用成功
			maxPage = data.data.pages;	//最大页数
			console.log("接口数据长度："+data.data.list.length);
                 var html = "";
   			 for(var i = 0,len = data.data.list.length; i < len; i++){
				console.log(data.data.list[i]);
			 	var item = data.data.list[i];
			  	//html += '<li class="ui-li-divider ui-bar-inherit ui-first-child" data-role="list-divider">'+item.userId+'</li>';
			  	// html += '<li><a onclick="goMessageDetail('+item.messageId+')" class="ui-btn ui-btn-icon-right ui-icon-carat-r"> ';
			  	// html += '<h2>'+item.messageTitle+'</h2>';
			  	// html += '<p><b>'+item.messageDate+'</b></p>';
        	  	// html += '<p>'+item.messageContent+'</p>';
       			// html += '<p class="ui-li-aside">'+(item.isReplay==1?"已回复":"未回复")+'</p>';
        		// html += '</a></li>'; 
				
				html += '<li class="ui-li-has-thumb"><a onclick="goMessageDetail('+item.messageId+')" class="btn2-bg ui-btn">';
				html += '<img src="../images/user_bg.png">';
				html += ' <div class="user-logo">';
				html += '<img data-online="true" src="../images/name.png">';
				html += '<span>'+item.userName+'</span>';
				html += '<span>'+item.messageDate+'</span>';
				html += '<span>'+item.messageTime+'</span></div>';
				html += '<h2><br/>'+item.messageTitle+'</h2>';
				html += '<p>'+item.messageContent+'<br/><br/></p>';
				html += '<p data-state="'+getTypeColor(item.typeName)+'" class="ui-li-aside">'+item.typeName+'</p>';
				html += '<p class="ui-li-aside '+(item.exitReplay?"reply":"noRead")+' ">'+(item.exitReplay?"已回复":"未回复")+'</p>';
			 	html += '</a> </li>';
                
           
			 }
				 document.getElementById("listview").innerHTML = html;
				
            }else{
                openPopup("获取数据失败，请重试！");
            }
        },
        error: function (e) {
            console.log(e);
            openPopup("获取数据失败，请重试！");
        }
    });
	}
	
	//跳转到留言详情页
	function goMessageDetail(messageId){
		 window.location.href='../messageDetail.html?messageId='+messageId;
		}
	
	//跳转到上一页
 	function goPreviousPage(){
		console.log("goPreviousPage:currentPage="+currentPage+";maxPage="+maxPage);
		if(currentPage>1){
		currentPage = currentPage-1;
		 //查询留言数据
   getMessageList(currentPage,pageSize);	
		}
		
	}
	
	//跳转到下一页
 	function goNextPage(){
		console.log("goNextPage:currentPage="+currentPage+";maxPage="+maxPage);
		if(currentPage<maxPage){
		currentPage = currentPage+1;	
		//查询留言数据
   getMessageList(currentPage,pageSize);
		}
		 
	}
	
	function getTypeColor(typeName){
		var color = "";
		switch(typeName){
		case "教务教学":
		color = "jiaoWu";
		break;	
		case "后勤服务":
		color = "houQin";
		break;	
		case "学生管理":
		color = "xueSheng";
		break;	
		case "书记信箱":
		color = "shuJi";
		break;	
		case "校长信箱":
		color = "xiaoZhang";
		break;	
		default:
		break;	
		}
		return color;
	}
  </script>

</body>
</html>
