<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<!-- meta使用viewport以确保页面可自由缩放 -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 引入 jQuery Mobile 样式 -->
<link rel="stylesheet" type="text/css" href="../css/jquery.mobile-1.4.5.min.css">
<link rel="stylesheet" type="text/css" href="../css/login.css">
<!-- 引入 jQuery 库 -->
 <script type="text/javascript" src="../js/jquery.min.js"></script>
<!-- 引入 jQuery Mobile 库 -->
 <script type="text/javascript" src="../js/jquery.mobile-1.4.5.min.js"></script>
 <!-- 引入项目公共逻辑库 -->
 <script type="text/javascript" src="../js/common.js"></script>
<link rel="stylesheet" href="../css/custom.css">
</head>
<body>
<div data-role="page"> 

 <div data-role="header" data-position="fixed">
 <a href="javascript:history.back(-1)" class="ui-btn ui-corner-all ui-icon-arrow-l ui-btn-icon-notext">左箭头图标</a>
    <h1>注册</h1>
  </div>

 <div data-role="main" class="ui-content">
               <img src="../images/user-black.png">&nbsp&nbsp&nbsp用户名
               <input type="text" name="userName" id="userName"  placeholder="请输入用户名">       
            
             
                <img src="../images/lock-black.png">&nbsp&nbsp&nbsp输入密码
               <input type="text" name="password" id="password"  placeholder="请输入密码">       
             
                <img src="../images/lock-black.png">&nbsp&nbsp&nbsp确认密码
               <input type="text" name="passwordAffirm" id="passwordAffirm"  placeholder="请确认密码">       

                      <img src="../images/user-black.png">&nbsp&nbsp&nbsp姓名
                      <input type="text" name="realName" id="realName" placeholder="请输入姓名">

                      <img src="../images/gear-black.png">&nbsp&nbsp&nbsp学号
                      <input type="text" name="sno" id="sno" placeholder="请输入学号">

                      <img src="../images/gear-black.png">&nbsp&nbsp&nbsp学院
                      <input type="text" name="college" id="college" placeholder="请输入学院">

                     <img src="../images/phone-black.png">&nbsp&nbsp&nbsp手机号
                     <input type="text" name="phone" id="phone"  placeholder="请输入手机号">

                         <img src="../images/mail-black.png">&nbsp&nbsp&nbsp邮箱
                        <input type="email" name="email" id="email" placeholder="请输入邮箱">

             
			  <fieldset data-role="controlgroup" data-type="horizontal">
			 <legend>请选择您的性别：</legend>
			  <label for="male">男</label>
			  <input type="radio" name="sex" id="male" value="男" checked>
			 <label for="female">女</label>
			 <input type="radio" name="sex" id="female" value="女"> 
			 </fieldset>

             <input type="submit" data-inline="true" value="注册" onclick="regist()" />
       
 </div>
 </div>
 
   <script type="text/javascript">
  //登录
function regist(){
	
	var userName = $("#userName").val();
	var password = $("#password").val();
	var passwordAffirm = $("#passwordAffirm").val();
	var phone = $("#phone").val();
	var email = $("#email").val();
    var sno = $("#sno").val();
    var realName = $("#realName").val();
    var college = $("#college").val();
	var sex = $("input[name='sex']:checked").val();
	
	console.log("userName:"+userName);
	console.log("password:"+password);
	console.log("passwordAffirm:"+passwordAffirm);
	console.log("phone:"+phone);
	console.log("email:"+(email==''));
	console.log("sex:"+sex);
	
	if(password==passwordAffirm){
	
	$.ajax({
        type: "POST",
        url:  serverUrl+"user/register",
        contentType: "application/json",
		data : JSON.stringify({
				"userName": userName,
				"password": password,
				"phone": phone,
				"email": email,
                "sno": sno,
                "realName": realName,
                "college": college,
				"sex": sex
			}),
        success: function (data) {
			console.log("call user/register");
			console.log(data);
	 		if(data.status==200){	//调用成功
			setCookie(isLoginFlag,1);	//已登录
			setCookie(usernameFlag,userName);	//用户名
			window.location.href='message.html';
			}else{
				openPopup(data.message);
			}
        },
        error: function (e) {
			console.log(e);
            openPopup("注册失败，请重试！");
        }
    });	 
	
}else{
	openPopup("密码不一致，请重试！");
}
	
 
}
 
  </script>
</body>
</html>