<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<!-- meta使用viewport以确保页面可自由缩放 -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- 引入 jQuery Mobile 样式 -->
<link rel="stylesheet" type="text/css" href="../css/jquery.mobile-1.4.5.min.css">
 

<!-- 引入 jQuery 库 -->
 <script type="text/javascript" src="../js/jquery.min.js"></script>

<!-- 引入 jQuery Mobile 库 -->
 <script type="text/javascript" src="../js/jquery.mobile-1.4.5.min.js"></script>

</head>
<body>
<div data-role="page"> 

 <div data-role="header">
 <a href="javascript:history.back(-1)" class="ui-btn ui-corner-all ui-icon-arrow-l ui-btn-icon-notext">左箭头图标</a>
    <h1>注册</h1>
  </div>

 <div data-role="content" class="login-wrap ui-content" role="main">
        <div class="login-input-box">
            
            
                <img src="../images/user-black.png">&nbsp&nbsp&nbsp用户名
               <input type="text" name="fullname" id="fullname"  placeholder="请输入用户名">       
            
             
                <img src="../images/lock-black.png">&nbsp&nbsp&nbsp密码
               <input type="text" name="fullname" id="fullname"  placeholder="请输入密码">       
             
                <img src="../images/lock-black.png">&nbsp&nbsp&nbsp密码
               <input type="text" name="fullname" id="fullname"  placeholder="请确认密码">       
            
                <img src="../images/phone-black.png">&nbsp&nbsp&nbsp手机号
                <input type="text" name="fullname" id="fullname"  placeholder="请输入手机号">       
             
                <img src="../images/mail-black.png">&nbsp&nbsp&nbsp邮箱
               <input type="email" name="email" id="email" placeholder="请输入邮箱">   
             
			  <fieldset data-role="controlgroup" data-type="horizontal">
			 <legend>请选择您的性别：</legend>
			  <label for="male">男性</label>
			  <input type="radio" name="gender" id="male" value="male" checked>
			 <label for="female">女性</label>
			 <input type="radio" name="gender" id="female" value="female"> 
			 </fieldset>

             <input type="submit" data-inline="true" value="注册">
        </div>
    
 </div>
 </div>
 
</body>
</html>