<!DOCTYPE html>
<html lang = "zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<!-- meta使用viewport以确保页面可自由缩放 -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 引入 jQuery Mobile 样式 -->
<link rel="stylesheet" type="text/css" href="../css/jquery.mobile-1.4.5.min.css">
<!-- 引入 jQuery 库 -->
 <script type="text/javascript" src="../js/jquery.min.js"></script>
<!-- 引入 jQuery Mobile 库 -->
 <script type="text/javascript" src="../js/jquery.mobile-1.4.5.min.js"></script>
 <!-- 引入项目公共逻辑库 -->
 <script type="text/javascript" src="../js/common.js"></script>
<link rel="stylesheet" href="../css/custom.css">
</head>
<body>

<div data-role="page">
  <div data-role="header" data-position="fixed">
    <a href="javascript:history.back(-1)" class="ui-btn ui-corner-all ui-icon-arrow-l ui-btn-icon-notext head-btn">左箭头图标</a>
    <h1>选择</h1>
  </div>

  <div data-role="main" class="ui-content">
    
	  <div id="search-div" class="ui-field-contain">
        <label for="search">用户：</label>
        <input type="search" name="search" id="userName"  placeholder="请输入用户名...">
      </div>

       <div id="type-div" class="ui-field-contain">
        <label for="messageType">选择类别</label>
        <select name="messageType" id="messageType">
		 <option value="-1">全部</option>
        </select>
     </div>

	  <div class="ui-field-contain">
        <label for="day">选择状态</label>
        <select name="exitReplay" id="exitReplay" >
		 <option value="-1">全部</option>
         <option value="0">未回复</option>
         <option value="1">已回复</option>
        </select>
      </div>

<br/><br/>
 <table style="margin: 0 auto">
    <tr><td align="center">
      <input type="submit" onclick="goMessage()" data-inline="true" value="搜索">
	  <input type="reset" onclick="goWebpage('message.html')" data-inline="true" value="取消">
      </td></tr>
     </table>

  </div>
</div>


 <script type="text/javascript">
 var permission = 0;	//权限 
 
$(function(){
if(!debug){
 //查找用户权限
   $.ajax({
        type: "GET",
        url:  serverUrl+"user/getPermission?userName="+getUsername(),
        contentType: "application/json",
        success: function (data) {
			console.log("call user/getPermission");
			console.log(data);
	 		if(data.status==200){	//调用成功
			console.log("getPermission:");
			console.log(data.data);
			permission = data.data;
			if(permission==0){	//用户
				$("#search-div").hide();//隐藏
			}else{
				$("#search-div").show();//显示
			}
			if(permission>0){	//普通管理员
				$("#type-div").hide();//隐藏
			}
			}else{
				openPopup("权限获取失败，请重新登录！");
			}
        },
        error: function (e) {
			console.log(e);
            openPopup("权限获取失败，请重新登录！");
        }
    });	 
 
 

 //获取选项列表数
  $.ajax({
        type: "GET",
        url:  serverUrl+"message/selectTypeName",
        contentType: "application/json",
        success: function (data) {
            console.log("call message/selectTypeName");
            console.log(data);
            if(data.status==200){	//调用成功
			console.log("接口数据长度："+data.data.length);
                 var html = "";
				 html += '<option value="-1">全部</option>';
   			 for(var i = 0,len = data.data.length; i < len; i++){
				console.log(data.data[i]);
			 	var item = data.data[i];
			  	html += '<option value="'+item.typeId+'">'+item.typeName+'</option>';
			 }
				 document.getElementById("messageType").innerHTML = html; 
			 
            }else{
                openPopup("获取数据失败，请重试！");
            }
        },
        error: function (e) {
            console.log(e);
            openPopup("获取数据失败，请重试！");
        }
    });

 }else{
 //测试数据
 }

 
});

//跳转到留言列表页
function goMessage(){
	var url = "message.html?1=1";
	//获取选择数据
	var userName = $("#userName").val();
	if(userName != null&&userName != undefined&&userName != ''){
		url += "&userName="+userName;
	}
	var typeId = $("#messageType").val();
	if(typeId!="-1"){
		url += "&typeId="+typeId;
	}
	var exitReplay = $("#exitReplay").val();
	if(exitReplay!="-1"){
		url += "&exitReplay="+exitReplay;
	}
	window.location.href=url;
	}
	
  </script>
</body>
</html>
