<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>

<div data-role="page">
  <div data-role="header">
    <h1>系统管理</h1>
  </div>

  <div data-role="main" class="ui-content">
    <button class="ui-btn ui-corner-all ui-shadow" style="background-color: #FF0000;color: #FFFFFF"">退出登录</button><br/>
	<button class="ui-btn ui-corner-all ui-shadow">类别管理</button><br/>
	<button class="ui-btn ui-corner-all ui-shadow">用户管理</button>
  </div>

  
  <div data-role="footer" data-position="fixed">
   <div data-role="navbar">
      <ul>
        <li><a href="message.html" data-icon="home"></a></li>
        <li><a href="#" data-icon="gear" class="ui-btn-active ui-state-persist"></a></li>
      </ul>
    </div>
  </div>
</div> 


</body>
</html>
