<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- meta使用viewport以确保页面可自由缩放 -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 引入 jQuery Mobile 样式 -->
<link rel="stylesheet" type="text/css" href="../css/jquery.mobile-1.4.5.min.css">
<link rel="stylesheet" type="text/css" href="../css/login.css">
<!-- 引入 jQuery 库 -->
 <script type="text/javascript" src="../js/jquery.min.js"></script>
<!-- 引入 jQuery Mobile 库 -->
 <script type="text/javascript" src="../js/jquery.mobile-1.4.5.min.js"></script>
 <!-- 引入项目公共逻辑库 -->
 <script type="text/javascript" src="../js/common.js"></script>
 <link rel="stylesheet" href="../css/custom.css">
</head>
<body>

<div data-role="page">
  <div data-role="header" data-position="fixed" class="cus-head">
  <a onclick="goWebpage('message.html')" class="ui-btn ui-corner-all ui-icon-arrow-l ui-btn-icon-notext">左箭头图标</a>
    <h1>系统管理</h1>
 <a onclick="goWebpage('message.html')"
           class="ui-btn ui-icon-home ui-btn-icon-notext head-btn"></a>
  </div>

  <div data-role="main" class="ui-content">
  <div  align="center">
  <img src="../images/name.png" width="30%" text-align="center"  style="border-radius: 50%;
    background-color: #c1d3d8;
    padding: 1em;">
  </div>
   <p id="username-p" align="center">用户：</p>
   <div id="admin-manager-div">
	<button onclick="goWebpage('typeList.html')" class="ui-btn ui-corner-all ui-shadow">类别管理</button><br/>
	<button onclick="goWebpage('userList.html')" class="ui-btn ui-corner-all ui-shadow">用户管理</button><br/>
    </div>
      <button  class="ui-btn ui-corner-all ui-shadow" style="background-color: #ff9600;color: #FFFFFF"  onclick="logout()">退出登录</button>
  </div>

  
 
</div> 


  <script type="text/javascript">
  
   var permission = 0;	//权限
    $("#username-p").text("用户："+getUsername());
	
  $(function(){
if(!debug){
 //查找用户权限
   $.ajax({
        type: "GET",
        url:  serverUrl+"user/getPermission?userName="+getUsername(),
        contentType: "application/json",
        success: function (data) {
			console.log("call user/getPermission");
			console.log(data);
	 		if(data.status==200){	//调用成功
			console.log("getPermission:");
			console.log(data.data);
			permission = data.data;
			if(permission==-1){	//用户
				$("#admin-manager-div").show();//显示发布按钮
			}else{
				$("#admin-manager-div").hide();//隐藏钮
			} 
			
			}else{
                console.log("权限获取失败，请重新登录！");
                window.location.href='login.html';
			}
        },
        error: function (e) {
			console.log(e);
            console.log("权限获取失败，请重新登录！");
            window.location.href='login.html';
        }
    });
}else{
	
}
  });
  
  
//退出
function logout() {
	delCookie(usernameFlag);	//用户名，根据此值获取权限
    delCookie(isLoginFlag);	//登录标记
    delCookie(userIdFlag);	//用户编号
	window.location.href="login.html";
} 
  </script>
</body>
</html>
