<html>
<head>
    <meta charset="UTF-8">
    <title>留言板</title>
    <link rel="stylesheet" type="text/css" href="../themes/default/easyui.css">  <!-- 组件显示样式 -->
    <link rel="stylesheet" type="text/css" href="../themes/icon.css">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery.easyui.min.js"></script>    <!--组件交互逻辑 -->
    <script type="text/javascript" src="../js/esayui-extend.js"></script>   <!-- 组件扩展功能 -->
    <script type="text/javascript" src="../js/common.js"></script>           <!-- 公共逻辑 -->


    <script type="text/javascript">

        //文档
        $(function() {
            var name = getCookie("u_name");
            $('#deng_lu').text(name);

            function Setcookie(name, value) {
                //设置名称为name,值为value的Cookie
                var expdate = new Date();   //初始化时间
                expdate.setTime(expdate.getTime() + 30 * 60 * 1000);   //时间
                document.cookie = name + "=" + value + ";expires=" + expdate.toGMTString() + ";path=/";
                //即document.cookie= name+"="+value+";path=/";   时间可以不要，但路径(path)必须要填写，因为JS的默认路径是当前页，如果不填，此cookie只在当前页面生效！~
            }

            //左侧菜单栏默认选中第一个
            var menus = $('#left-sidemenu');
            var opts = menus.sidemenu("options");
            changeMenuSelect(menus, opts, '_easyui_sidemenu_2');

            
        }      );

//获取用户权限
	var permission= getUrlParams("permission");
    console.log("permission="+permission);
//左侧菜单栏数据
  var data = [{
            text: '类别',
            iconCls: 'icon-more',
            state: 'open',
            children: [{
                text: '所有类别'
            },{
				text: '教务教学'
            },{
                text: '后勤服务'
            },{
                text: '学生管理'
            },{
                text: '书记信箱'
            },{
                text: '校长信箱'
            }]
        },{
            text: '数据管理',
            iconCls: 'icon-more',
            state: 'open',
            children: [{
                text: '类型管理'
            },{
                text: '用户管理'
            },{
                text: '系统管理'
            }]
        }];

	
switch(permission){
	case '0':
	data = [{
            text: '类别',
            iconCls: 'icon-more',
            state: 'open',
            children: [{
                text: '所有类别'
            },{
				text: '教务教学'
            },{
                text: '后勤服务'
            },{
                text: '学生管理'
            },{
                text: '书记信箱'
            },{
                text: '校长信箱'
            }]
        }];
	break;
	case '1':
	data = [{
            text: '类别',
            iconCls: 'icon-more',
            state: 'open',
            children: [{
				text: '教务教学'
            }]
        }];
	break;
	case '2':
	data = [{
            text: '类别',
            iconCls: 'icon-more',
            state: 'open',
            children: [{
				text: '后勤服务'
            }]
        }];
	break;
	case '3':
	data = [{
            text: '类别',
            iconCls: 'icon-more',
            state: 'open',
            children: [{
				text: '学生管理'
            }]
        }];
	break;
	case '4':
	data = [{
            text: '类别',
            iconCls: 'icon-more',
            state: 'open',
            children: [{
				text: '书记信箱'
            }]
        }];
	break;
	case '5':
	data = [{
            text: '类别',
            iconCls: 'icon-more',
            state: 'open',
            children: [{
				text: '校长信箱'
            }]
        }];
	break;
	case '6':
	break;
	case '7':
	break;
	case '8':
	break;
	case '9':
	break;
	case '99':
	data = [{
            text: '类别',
            iconCls: 'icon-more',
            state: 'open',
            children: [{
                text: '所有类别'
            },{
				text: '教务教学'
            },{
                text: '后勤服务'
            },{
                text: '学生管理'
            },{
                text: '书记信箱'
            },{
                text: '校长信箱'
            }]
        },{
            text: '数据管理',
            iconCls: 'icon-more',
            state: 'open',
            children: [{
                text: '类型管理'
            },{
                text: '用户管理'
            },{
                text: '系统管理'
            }]
        }];
	break;
	default:
	break;
	}

    </script>


<body id="mypannel" class="easyui-layout">
<div id="head" data-options="region:'north',border:false" style="height:60px;background:#B3DFDA;padding:10px;position:relative;">

    <script>
       $("#head").load("../view/head.html");
   </script>
     
</div>
<div data-options="region:'west',split:true,title:'问题类型'" style="width:150px;padding:10px;">

    <div id="left-sidemenu" class="easyui-sidemenu" data-options="data:data,onSelect:selectItem"></div>

</div>
<div id="panel-center" data-options="region:'center',title:''">



<!--  本页面要显示的内容 -->

<table id="dg" class="easyui-datagrid" title="类型管理" style="width:300px;height:auto"
			data-options="
				iconCls: 'icon-edit',
				singleSelect: true,
				toolbar: '#tb',
				url: 'datagrid_data1.json',
				method: 'get',
				onClickRow: onClickRow
			">
		<thead>
			<tr>
				<!--  <th data-options="field:'itemid',width:80">ID</th>  -->
                <th data-options="field:'itemid',width:80,editor:'textbox'">编号</th>
                <th data-options="field:'type',width:80,editor:'textbox'">类型名</th>
				<!--	<th data-options="field:'productid',width:100,
						formatter:function(value,row){
							return row.productname;
						},
						editor:{
							type:'combobox',
							options:{
								valueField:'productid',
								textField:'productname',
								method:'get',
								url:'./type.json',
								required:true
							}
						}">类型名</th>
			<th data-options="field:'listprice',width:80,align:'right',editor:{type:'numberbox',options:{precision:1}}">List Price</th>
				<th data-options="field:'unitcost',width:80,align:'right',editor:'numberbox'">Unit Cost</th>
				<th data-options="field:'attr1',width:250,editor:'textbox'">Attribute</th>-->
				<th data-options="field:'status',width:60,align:'center',editor:{type:'checkbox',options:{on:'P',off:''}}">Status</th>
			</tr>
		</thead>
       <tr>
         <td>001</td>
         <td>教务教学</td>
      </tr>
      <tr>
         <td>002</td>
         <td>后勤服务</td>
      </tr>
      <tr>
         <td>003</td>
         <td>学生管理</td>
      </tr>
      <tr>
         <td>004</td>
         <td>书记信箱</td>
      </tr>
      <tr>
         <td>005</td>
         <td>校长信箱</td>
      </tr>
	</table>
<div id="tb" style="height:auto">
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="append()">添加</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="removeit()">删除</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="accept()">保存</a>
		<!--<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true" onclick="reject()">Reject</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="getChanges()">GetChanges</a>-->
	</div>
</div>


<script type="text/javascript">
		var editIndex = undefined;
		function endEditing(){
			if (editIndex == undefined){return true}
			if ($('#dg').datagrid('validateRow', editIndex)){
				var ed = $('#dg').datagrid('getEditor', {index:editIndex,field:'itemid'});
				var productname = $(ed.target).combobox('getText');
				$('#dg').datagrid('getRows')[editIndex]['productname'] = productname;
				$('#dg').datagrid('endEdit', editIndex);
				editIndex = undefined;
				return true;
			} else {
				return false;
			}
		}
		function onClickRow(index){
			if (editIndex != index){
				if (endEditing()){
					$('#dg').datagrid('selectRow', index)
							.datagrid('beginEdit', index);
					editIndex = index;
				} else {
					$('#dg').datagrid('selectRow', editIndex);
				}
			}
		}
		function append(){
			if (endEditing()){
				$('#dg').datagrid('appendRow',{status:'P'});
				editIndex = $('#dg').datagrid('getRows').length-1;
				$('#dg').datagrid('selectRow', editIndex)
						.datagrid('beginEdit', editIndex);
			}
		}
		function removeit(){
			if (editIndex == undefined){return}
			$('#dg').datagrid('cancelEdit', editIndex)
					.datagrid('deleteRow', editIndex);
			editIndex = undefined;
		}
		function accept(){
			if (endEditing()){
				$('#dg').datagrid('acceptChanges');
			}
		}
		function reject(){
			$('#dg').datagrid('rejectChanges');
			editIndex = undefined;
		}
		function getChanges(){
			var rows = $('#dg').datagrid('getChanges');
			alert(rows.length+' rows are changed!');
		}
	</script>
</body>
</html>