<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- meta使用viewport以确保页面可自由缩放 -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 引入 jQuery Mobile 样式 -->
<link rel="stylesheet" type="text/css" href="../css/jquery.mobile-1.4.5.min.css">
<link rel="stylesheet" type="text/css" href="../css/login.css">
<!-- 引入 jQuery 库 -->
 <script type="text/javascript" src="../js/jquery.min.js"></script>
<!-- 引入 jQuery Mobile 库 -->
 <script type="text/javascript" src="../js/jquery.mobile-1.4.5.min.js"></script>
 <!-- 引入项目公共逻辑库 -->
 <script type="text/javascript" src="../js/common.js"></script>
 <link rel="stylesheet" href="../css/custom.css">
</head>
<body>

<div data-role="page">
  <div data-role="header" data-position="fixed" class="cus-head">
   <a href="javascript:history.back(-1)" class="ui-btn ui-corner-all ui-icon-arrow-l ui-btn-icon-notext">左箭头图标</a>
    <h1>类别管理</h1>
   <a onclick="goWebpage('addMessageType.html')" class="ui-btn ui-corner-all ui-shadow ui-icon-plus ui-btn-icon-left">新增</a>
  </div>

  <div data-role="main" class="ui-content">
  
    <ul id="list-ul" data-role="listview" data-inset="true">
      <li><a onclick="goWebpage('typeDetail.html')">暂无类别</a></li>
    </ul>
  </div>

  
   
</div> 


 <script type="text/javascript">
  
 
 $(function(){
if(!debug){
	
 //获取选项列表数
  $.ajax({
        type: "GET",
        url:  serverUrl+"message/selectTypeName",
        contentType: "application/json",
        success: function (data) {
            console.log("call message/selectTypeName");
            console.log(data);
            if(data.status==200){	//调用成功
			console.log("接口数据长度："+data.data.length);
                 var html = "";
				 
   			 for(var i = 0,len = data.data.length; i < len; i++){
				console.log(data.data[i]);
			 	var item = data.data[i];
				html += '<li class="ui-li-divider ui-bar-inherit ui-first-child" data-role="list-divider"></li> ';
				html += '<li><input type="hidden" value='+item.typeId+'><a onclick="goTypeDetail(this)" class="ui-btn ui-btn-icon-right ui-icon-carat-r">'+item.typeName+'</a></li>';
			 }
				 document.getElementById("list-ul").innerHTML = html; 
			 
            }else{
                openPopup("获取数据失败，请重试！");
            }
        },
        error: function (e) {
            console.log(e);
            openPopup("获取数据失败，请重试！");
        }
    });
	 
	
}else{
//测试代码
}

});	

	function goTypeDetail(object){
		console.log($(object).siblings("input[type=hidden]"));	
		var typeId = $(object).siblings("input[type=hidden]").val();
		window.location.href='typeDetail.html?typeId='+typeId;
		
}
</script>
</body>
</html>
