<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- meta使用viewport以确保页面可自由缩放 -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 引入 jQuery Mobile 样式 -->
<link rel="stylesheet" type="text/css" href="../css/jquery.mobile-1.4.5.min.css">
<link rel="stylesheet" type="text/css" href="../css/login.css">
<!-- 引入 jQuery 库 -->
 <script type="text/javascript" src="../js/jquery.min.js"></script>
<!-- 引入 jQuery Mobile 库 -->
 <script type="text/javascript" src="../js/jquery.mobile-1.4.5.min.js"></script>
 <!-- 引入项目公共逻辑库 -->
 <script type="text/javascript" src="../js/common.js"></script>
</head>
<body>

<div data-role="page">
  <div data-role="header" data-position="fixed">
  <a href="javascript:history.back(-1)" class="ui-btn ui-corner-all ui-icon-arrow-l ui-btn-icon-notext">左箭头图标</a>
    <h1>用户管理</h1>
  </div>

  <div data-role="main" class="ui-content">
    <div class="login-input-box">
    <div class="ui-field-contain">
  <lable>用户名：</lable> <lable id="userName"></lable> 
  </div>
  
   <div class="ui-field-contain">
   <lable for="password">密码</lable>
 <input type="password" name="password" id="password" placeholder="待修改的密码">
  </div>
  
  <div id="message-type-div" class="ui-field-contain">
        <label for="messageType">管理类别</label>
        <select name="messageType" id="messageType">
		 <option value="-1">请选择</option>
        </select>
     </div>
  
 <table style="margin: 0 auto">
    <tr><td align="center">
    <div id="delete-button" style="display: inline-block">
     <input type="submit" onclick="deleteData()" data-inline="true" value="删除"></div>
      <input type="submit" onclick="updateData()" data-inline="true" value="修改">
	  <input type="reset" onclick="goWebpage('userList.html')" data-inline="true" value="取消">
      </td></tr>
     </table>
     </div>
  </div>

  
   
</div> 


 <script type="text/javascript">
 
 //获取页面跳转时传递的参数
	var userId= getUrlParams("userId");	//用户编号
    console.log("userId="+userId);
 
 
 
 $(function(){
if(!debug){
	
	//获取选项列表数
  $.ajax({
        type: "GET",
        url:  serverUrl+"message/selectTypeName",
        contentType: "application/json",
        success: function (data) {
            console.log("call message/selectTypeName");
            console.log(data);
            if(data.status==200){	//调用成功
			console.log("接口数据长度："+data.data.length);
                 var html = "";
				 html += '<option value="0">普通用户</option>';
   			 for(var i = 0,len = data.data.length; i < len; i++){
				console.log(data.data[i]);
			 	var item = data.data[i];
			  	html += '<option value="'+item.typeId+'">'+item.typeName+'</option>';
			 }
				 document.getElementById("messageType").innerHTML = html; 
			 
            }else{
                openPopup("获取数据失败，请重试！");
            }
        },
        error: function (e) {
            console.log(e);
            openPopup("获取数据失败，请重试！");
        }
    });

	
	
 //获取用户信息
	 $.ajax({
        type: "GET",
        url:  serverUrl+"user/getUser?userId="+userId,
        contentType: "application/json",
        success: function (data) {
            console.log("call user/getUser");
            console.log(data);
            if(data.status==200){	//调用成功
			var myData = data.data;
			var userId = myData.userId;
			var userName = myData.userName;
			var password = myData.password;
			var permissionId = myData.permissionId;
		 	
			$("#userName").text(userName);
			//修改下拉框显示样式
			$("#messageType").val(permissionId);
			var text = $("#messageType").find("option:selected").text();
			//console.log(text);
			$("#messageType").prev().text(text);	//修改默认添加的span标签
			 
			
			if(permissionId != null && permissionId != undefined && permissionId != ''&&permissionId==-1){	//超级管理员
				$("#message-type-div").hide();	//隐藏类别选择控件
				$("#delete-button").hide();		
			}else{
				$("#message-type-div").show();
			}
                 
   			 
            }else{
                openPopup("获取数据失败，请重试！");
            }
        },
        error: function (e) {
            console.log(e);
            openPopup("获取数据失败，请重试！");
        }
    });
 
	
}else{
//测试代码
}

});	
	
//删除数据 
function deleteData(){
	 $.ajax({
        type: "POST",
        url:  serverUrl+"user/deleteUser",
        contentType: "application/json",
		data : JSON.stringify({
				"userId": userId 
			}),
        success: function (data) {
			console.log("call user/login");
			console.log(data);
	 		if(data.status==200){	//调用成功
			 openPopup("删除成功！");
			 window.location.href='userList.html';
			}else{
				openPopup("登录失败，请重新登录！");
			}
        },
        error: function (e) {
			console.log(e);
            openPopup("登录失败，请重新登录！");
        }
    });	 
		
}

//修改数据 
function updateData(){
		
	var password = $("#password").val(); 
	var permission = $("#messageType").val(); 
		
	var jsonObject = '{';
	jsonObject+='"userId":'+userId;
	jsonObject+=',"permission":'+permission;
	
	if(password != null && password != undefined && password != ''){
		jsonObject+=',"password":'+password;
	}
	jsonObject+='}'
	console.log(jsonObject);
		
	$.ajax({
        type: "POST",
        url:  serverUrl+"user/updateUser",
        contentType: "application/json",
		data : jsonObject,
        success: function (data) {
			console.log("call user/login");
			console.log(data);
	 		if(data.status==200){	//调用成功
			 openPopup("删除成功！");
			 window.location.href='userList.html';
			}else{
				openPopup(data.message);
			}
        },
        error: function (e) {
			console.log(e);
            openPopup("接口调用失败，请重试！");
        }
    });	 
		
}
	
	 
   </script>
  
 
</body>
</html>
