<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- meta使用viewport以确保页面可自由缩放 -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 引入 jQuery Mobile 样式 -->
<link rel="stylesheet" type="text/css" href="../css/jquery.mobile-1.4.5.min.css">
<link rel="stylesheet" type="text/css" href="../css/login.css">
<!-- 引入 jQuery 库 -->
 <script type="text/javascript" src="../js/jquery.min.js"></script>
<!-- 引入 jQuery Mobile 库 -->
 <script type="text/javascript" src="../js/jquery.mobile-1.4.5.min.js"></script>
 <!-- 引入项目公共逻辑库 -->
 <script type="text/javascript" src="../js/common.js"></script>
</head>
<body>

<div data-role="page">
  <div data-role="header" data-position="fixed">
  <a href="javascript:history.back(-1)" class="ui-btn ui-corner-all ui-icon-arrow-l ui-btn-icon-notext">左箭头图标</a>
    <h1>用户管理</h1>
  </div>

  <div data-role="main" class="ui-content">
    <div class="login-input-box">
    <div class="ui-field-contain">
  <lable>用户名：use</lable> 
  </div>
  
   <div class="ui-field-contain">
   <lable for="password">密码</lable>
 <input type="text" name="password" id="password" value="待修改的密码">
  </div>
  
  <div class="ui-field-contain">
        <label for="type">选择类别</label>
        <select name="type" id="type">
		 <option value="0">无</option>
         <option value="1">教务教学</option>
         <option value="2">后勤服务</option>
         <option value="3">学生管理</option>
         <option value="4">书记信箱</option>
         <option value="5">校长信箱</option>
        </select>
     </div>
  
 <table style="margin: 0 auto">
    <tr><td align="center">
     <input type="submit" onclick="goWebpage('userList.html')" data-inline="true" value="删除">
      <input type="submit" onclick="goWebpage('userList.html')" data-inline="true" value="修改">
	  <input type="reset" onclick="goWebpage('userList.html')" data-inline="true" value="取消">
      </td></tr>
     </table>
     </div>
  </div>

  
   
</div> 


 
</body>
</html>
