<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- meta使用viewport以确保页面可自由缩放 -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 引入 jQuery Mobile 样式 -->
<link rel="stylesheet" type="text/css" href="../css/jquery.mobile-1.4.5.min.css">
<link rel="stylesheet" type="text/css" href="../css/login.css">
<!-- 引入 jQuery 库 -->
 <script type="text/javascript" src="../js/jquery.min.js"></script>
<!-- 引入 jQuery Mobile 库 -->
 <script type="text/javascript" src="../js/jquery.mobile-1.4.5.min.js"></script>
 <!-- 引入项目公共逻辑库 -->
 <script type="text/javascript" src="../js/common.js"></script>
<link rel="stylesheet" href="../css/custom.css">
</head>
<body>

<div data-role="page">
  <div data-role="header" data-position="fixed" class="cus-head">
  <a onclick="goWebpage('setting.html')" class="ui-btn ui-corner-all ui-icon-arrow-l ui-btn-icon-notext head-btn">左箭头图标</a>
    <h1>用户管理</h1>
<a onclick="goWebpage('message.html')"
       class="ui-btn ui-icon-home ui-btn-icon-notext head-btn"></a>
  </div>

  <div data-role="main" class="ui-content">
  
    <ul id="list-ul" data-role="listview" data-inset="true">
      <li data-role="list-divider">  </li>   
      <li><a onclick="goUserDetail(this)">   
        <h2>user</h2>
        <p><b>123456</b></p>
        <p class="ui-li-aside">普通用户</p></a>
      </li>
       <li data-role="list-divider">  </li>   
      <li><a onclick="goWebpage('userDetail.html')">   
        <h2>user</h2>
        <p><b>123456</b></p>
        <p class="ui-li-aside">普通管理员</p></a>
      </li>
    </ul>
    
  </div>

  
    <div data-role="footer" data-position="fixed">
   
   <!-- 使按钮居中显示  -->
    <table style="margin: 0 auto">
    <tr><td align="center">
      <a onclick="goPreviousPage()" class="ui-btn ui-icon-arrow-l ui-btn-icon-left ui-corner-all ui-shadow">上一页</a>
	  </td> <td align="center">
      <a onclick="goNextPage()" class="ui-btn ui-icon-arrow-r ui-btn-icon-right ui-corner-all ui-shadow">下一页</a>
	   </td></tr>
     </table>
    
 
  </div>
</div> 

 <script type="text/javascript">
  var currentPage = 1;
 var pageSize = 10;
 var maxPage = 1;
 
 $(function(){
if(!debug){
	
	
	getDataList(currentPage,pageSize);
	
}else{
//测试代码
}

});	
	
	
	
	//获取列表数据
function getDataList(currentPage,pageSize){
	
	var url = serverUrl+"user/selectUser?1=1";
	
	if(currentPage != null&&currentPage != undefined&&currentPage != 0){
 url += "&currentPage="+currentPage;
}
if(pageSize != null&&pageSize != undefined&&pageSize != 0){
 url += "&pageSize="+pageSize;
}
	
	 $.ajax({
        type: "GET",
        url:  url,
        contentType: "application/json",
        success: function (data) {
            console.log("call user/selectUser");
            console.log(data);
            if(data.status==200){	//调用成功
			maxPage = data.data.pages;	//最大页数
			console.log("接口数据长度："+data.data.list.length);
                 var html = "";
   			 for(var i = 0,len = data.data.list.length; i < len; i++){
				console.log(data.data.list[i]);
			 	var item = data.data.list[i];
			  	html += '<li class="ui-li-divider ui-bar-inherit ui-first-child" data-role="list-divider"></li> ';
			  	html += '<li><input type="hidden" value='+item.userId+'><a onclick="goUserDetail(this)" class="ui-btn ui-btn-icon-right ui-icon-carat-r">';
			  	html += '<h2>'+item.userName+'</h2>'; 
			  	html += '<p><b>'+item.password+'</b></p>'; 
        	  	html += '<p class="ui-li-aside">'+item.name+'</p>'; 
        		html += '</a></li>'; 
			 }
				 document.getElementById("list-ul").innerHTML = html;
            }else{
                openPopup("获取数据失败，请重试！");
            }
        },
        error: function (e) {
            console.log(e);
            openPopup("获取数据失败，请重试！");
        }
    });
	
	}
	
	function goUserDetail(object){
		console.log($(object).siblings("input[type=hidden]"));	
		var userId = $(object).siblings("input[type=hidden]").val();
		window.location.href='userDetail.html?userId='+userId;
		
}

//跳转到上一页
 	function goPreviousPage(){
		console.log("goPreviousPage:currentPage="+currentPage+";maxPage="+maxPage);
		if(currentPage>1){
		currentPage = currentPage-1;
		 //查询留言数据
   getDataList(currentPage,pageSize);	
		}
		
	}
	
	//跳转到下一页
 	function goNextPage(){
		console.log("goNextPage:currentPage="+currentPage+";maxPage="+maxPage);
		if(currentPage<maxPage){
		currentPage = currentPage+1;	
		//查询留言数据
   getDataList(currentPage,pageSize);
		}
		 
	}
   </script>
</body>
</html>
